<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Perfil de usuario</h4>
            <h6 class="card-subtitle">nombre de usuario</h6>
            <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">Nombre de usuario</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control"  placeholder="Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input [ngModel]="usuario.email" [disabled]= "usuario.google"name="email" type="email" class="form-control"  placeholder="Enter email" required>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Submit</button>
            </form>
        </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Fotografía de usuario</h4>
            <h6 class="card-subtitle">nombre de usuario</h6>
            <img src="">

            <input type="file">
            <br>
            <br>
            <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar foto</button>

        </div>
    </div>
</div>

</div>