<h3>{{leyenda}} - {{progreso}}</h3>
<div class="input-group mb-3">
    <span class="input-group-prepend" id="button-addon3">
      <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
        <i class="mdi mdi-minus"></i>
      </button>
    </span>
    <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)] = "progreso"
        placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3"
        min="1" max="100"
        (ngModelChange)="onChanges($event)">
    <span class="input-group-prepend" id="button-addon3">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>
</div>