<div class="row">
    <div class="col-6" *ngFor="let graf of graficos |keyvalue">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                                                
                        <app-grafico-dona  [data]="graficos[graf.key].data"
                        [labels]="graficos[graf.key].labels"
                        [chartType]="graficos[graf.key].type"
                        [leyenda]="graficos[graf.key].leyenda">
                        </app-grafico-dona>

                                                                    
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    





