<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                      <div style="display: block">
                        
                          <app-grafico-dona  [dataSet]="graficos.grafico1.data"
                          [labels]="graficos.grafico1.labels"
                          [type]="graficos.grafico1.type">
                          </app-grafico-dona>
                     
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>